*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.background{
    top:0;
    left:0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    object-position: center;
}
.container{
    position: relative;
    min-width: 200px;
    max-width: 40%;
    background: #ffffff8b;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,0.15);
    border: 3px solid #fff;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
}

.stat-Container{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #efe9e9;
    align-items: center;
}

.details{
    width: 100%;
}

.details h3{
    font-size: 18px;
    color: #201f1f;
}

#progressbar{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    position: relative;
    margin-top: 5px;
}

#progress{
    height: 100%;
    border-radius: 5px;
    background-color: #1f5fac;
    width: 100%;
    transition: width 0.3s ease;
}

#number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #1f5fac;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.input-container{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    
}

.container .input-container input{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
}

.container .input-container button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #090909;
    color: white;
    cursor: pointer;
}

.container .todo-container ul li{
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}


.container .todo-container ul li .task-text{
    flex: 1;
    word-break: break-word;
    width: 100%;
    max-width: 100%;
}
.container .todo-container ul li button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}
.container .input-container button:active{
    background-color: #5b5959;
    transform: scale(0.98);
}

.task-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.empty-image{
    width: 100%;
    margin-top: 20px;
}

li.completed{
    text-decoration: none;
    background-color: #77db39;
}

.completed .task-checkbox{
    background-color: #29970a;
    border-color: #29970a;
}

.completed .button-container button{
    background-color: #39cb18;
    cursor: not-allowed;
}

.completed .task-text{
    font-weight: bold;
    color: #29970a;
}